<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <appSettings configProtectionProvider="RsaProtectedConfigurationProvider">
        <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
            xmlns="http://www.w3.org/2001/04/xmlenc#">
            <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes256-cbc" />
            <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
                    <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-oaep-mgf1p" />
                    <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
                        <KeyName>Rsa Key</KeyName>
                    </KeyInfo>
                    <CipherData>
                        <CipherValue>T80mGHO+97g0Hf2UgbtZutf/r7NJrETVxH6OyEBWRZkED07x1cJg3DkPJys3r95NL87yuwgXMuu8p0jzPLYRW6IHMV5o+XrBq3zrqusveYqshrFt8LRCtsd59kYv4ZEVQF6gdjibyybLbmlQQWihpGIJ4j8i2k+9xeY75BlaEk54dLOn1P4TSH1uak1oinkQX89qKKagtv79uERDG5jVMdZ/tHUbqDssZxEkIpk9hPtxIQV5f7X7/cT2+gh6caW0nETiXZQo9BmNh9ZVw65+Lfou/qAKu+SP++33WqD+Bc0kzz9aUWjTdm1juSyJiOuPA+kBRLXPj5fsU4202ssZSA==</CipherValue>
                    </CipherData>
                </EncryptedKey>
            </KeyInfo>
            <CipherData>
                <CipherValue>UhxQdgDnITDuOatEBm4AKIpzBfvT6M1pf4wuLwN3qtM=</CipherValue>
            </CipherData>
        </EncryptedData>
    </appSettings>
</configuration>